

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 3rem;
  justify-content: center;
  
  
  
}

.containerwelcome{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: flex-start;
  flex-wrap: wrap;
  
}


.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  border: 2px solid rgb(255, 255, 255);
  height: 65vh;
  width: 80%;
  background-image: url(../images/photo-1493238792000-8113da705763.png);
  background-size: cover;
  flex-wrap: wrap;
    
}

.glaz{
  background: rgba(236, 120, 120, 0.363); 
  backdrop-filter: blur(10px); 
  border-radius: 10px; 
  border: 1px solid rgba(255, 255, 255, 0.682); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.615); 
  padding: 20px;
  border-radius: 4px;
  flex-wrap: wrap;
}

.box p{
  font-size: 55px;
  font-weight: bold;
  font-family: monospace;
  color: aliceblue;
  margin: 0;
  flex-wrap: wrap;

}

.start-btn{
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #0044ff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.2s;
  flex-wrap: wrap;
  
  
}

.start-btn:hover {
  background-color: #ffffff;
  color: black;
  
}

.welcome{
  border: 1px solid black;
  width: 50%;
  height: 30vh;
  font-size: 20px;
  text-align: center;
  align-content: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: 0.2s;
  flex-wrap: wrap;
  
   
  
}
.wel_container{
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
}

.wel_container :hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_heading{
  display: flex;
  margin-left: 35px;
  padding-left: 30px;
  font-size: 25px;

}
.vehilogo_container{
  display: flex;
}
.cardlogo{
  padding: 20px;
  transition: 0.3s;
  
  width: 15%;

}
.cardlogo:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  font-size: 17px;
}

.card {
  padding: 20px;
  transition: 0.3s;
  flex-wrap: nowrap;
  width: 22%;
 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  font-size: 17px;
}

img {
  border-radius: 5px 5px 0 0;
}

.card_container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 2rem;
  flex-wrap: wrap;
}

.buy{
  padding: 30px;
  font-size: 25px;
  background: rgb(255, 55, 55); 
  color: #ffffff;
  backdrop-filter: blur(10px); 
  border-radius: 10px; 
  border: 1px solid rgba(255, 255, 255, 0.682); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.615); 
  cursor: pointer;
  transition: 0.2s;
}

.sell{
  padding: 30px;
  font-size: 25px;
  background: rgb(221, 255, 0); 
  backdrop-filter: blur(10px); 
  border-radius: 10px; 
  border: 1px solid rgba(255, 255, 255, 0.682); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.615); 
  cursor: pointer;
  transition: 0.2s;
}

.os_container{
  display: flex;
  justify-content: center;
  gap: 2rem;
  
  

}

.osb :hover{
  
  background-color: #e20000
  
}

.oss :hover{
  background-color: #ffdd00
}




