.navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 50px; 
}

.nav_list {
    display: flex;
    gap: 4rem;
    justify-content: flex-end;
    padding-right: 50px;
    list-style: none;
    font-size: 20px;
    color: #000000;
    
}
.nav_list li a{
    text-decoration: none;
    color: inherit;
}

.logo {
    display: flex;
    align-items: center; 
    gap: 10px;
}

.logo img {
    height: 80px;
    width: auto;
    display: block;
}

.lname {
    font-size: 30px;
    padding-left: 10px;
}

.nav_list li:hover {
    color: red;
    cursor: pointer;
}
