header {
    
    background-color: #ba0f42;
    padding: 1px 0;
}

.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo {
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 20px;
}

.logo p {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    
}


.logo img {
    height: 70px;
  
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 4rem;
    padding-right: 20px;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links li a:hover {
    color: #d3ff24;
}


