body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.formbg{
    display: flex;
    justify-content: center;
   
}

.sideimg{
    height: 50vh;
    width: 300px;
    background-image: url(../images/A-purple-space-4K-OLED-Desktop-W.png); 
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: -3rem;
    
}

.sideimg .here{
    color: aliceblue;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -20px;
    justify-content: center;
    align-items: center;

}
.sideimg .here1{
    color: aliceblue;
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -20px;   

}
.sideimg .here2{
    color: aliceblue;
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -10px;
   

}
.sideimg .here3 a{
    color: aliceblue;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;

}
.formdiv{
    background-color: crimson;
    padding: 50px;
    
}

.formdiv .email,.password{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px;
    
}




