body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    
    
   
}

.formbg{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100%;
}

.sideimg{
    height: 50vh;
    width: 300px;
    background-image: url(../images/A-purple-space-4K-OLED-Desktop-W.png); 
    border-radius: 5px 0px 0px 5px; 
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sideimg .here0{
    color: aliceblue;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -20px;
    justify-content: center;
    align-items: center;

}

.sideimg .here11{
    color: aliceblue;
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -20px;   

}
.sideimg .here22{
    color: aliceblue;
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -10px;
   

}
.sideimg .here33 a{
    color: aliceblue;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;

}
.sideimg .here33 a:hover{
    color: aqua;
}
.formdiv{
    background-color: white;
    border: 2px solid red;
    border-radius: 0px 5px 5px 0px;
    padding: 47px;
    
    
}

.formdiv .fname , .lname ,.contact,.email,.password{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    
}
.formdiv .btn{
    padding: 10px 30px;
    cursor: pointer;
    background-color: rgb(245, 49, 49);
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
}

.formdiv .btn:hover{
    background-color: rgb(230, 6, 6);
}

.homebtn{
    padding: 10px ;
    cursor: pointer;
    background-color: rgb(245, 49, 49);
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    
}


.home_container{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-bottom: 20px;
    
}

.homebtn:hover{
    background-color: rgb(230, 6, 6);


}


